{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title> USM - {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <img class="navbar-image" src="{% static 'images/Barra Colores.png' %}" alt="">
        <span class="navbar-brand mb-0 h1">Empresa Nacional de Combustibles</span>
    
    
    
        <div class="row">
            <div class="col-md-6">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse position-relative" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item text-center">
                            <a class="nav-link" href="{% url 'exit' %}">Cerrar Sesion</a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    

    {% endblock %}
</body>

</html>